<html>
  <head>
    <title>{{.Title}}</title>

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap-fileinput/css/fileinput.css">

    <script src="/static/jquery/jquery.js"></script>
    <script src="/static/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <script src="/static/stupidtable.js"></script>
    <script>
        $(document).ready(function() {
          $(".table").stupidtable();
        })
    </script>

  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="text-center text-primary"> <h1> Webshare </h1></div>
        <div class="col-md-1"></div>
        <div class="col-md-10">

          <ol class="breadcrumb">
            {{ range $index, $item := .Navigation }}
                {{ if $item.IsLast }} 
                    <li class="active">{{ $item.Name }} </li>
                 {{ else }}
                    <li><a href="{{ $item.Href }}">{{ $item.Name }} </a></li>
                 {{ end }}
            {{ end }}
          </ol>

          <form action="/upload/{{.Path}}" method="POST"  enctype="multipart/form-data">
            <input name="file" type="file" class="file">
          </form>

          <table class="table table-hover">
            <thead>
              <th data-sort="string"> Name </th>
              <th data-sort="string"> Size </th>
              <th data-sort="string"> Mode </th>
              <th data-sort="string"> Modify </th>
            </thead>
            {{ range $file := .Files }}
            <tr>
              <td>
                {{ if $file.IsDir }}
                <a href="/ui/{{$.Path}}/{{$file.Name}}"> {{ $file.Name }}/ </a>
                {{ else }}
                <a href="/fs/{{$.Path}}/{{$file.Name}}"> {{ $file.Name }} </a>
                {{ end }}
              </td>
              <td>
                {{ $file.Size | humanizeBytes }}
              </td>
              <td>
                {{ $file.Mode }}
              </td>
              <td>
                {{ $file.ModTime | humanizeTime }}
              </td>
            </tr>
            {{ end }}
          </table>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </body>
</html>
